/.CFUserTextEncoding
/.DS_Store
/.Trash
/.cache
/.claude
/.claude.json
/.copilot
/.idlerc
/.local
/.vscode
/.vscode-shared
/.zprofile
/.zprofile.pysave
/.zsh_history
/.zsh_sessions
/.zshrc
/Claude
/Desktop
/Downloads
/Library
/Movies
/Music
/Pictures
/Public